<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <title>Linq Cloud</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet">
    <link href="css/dashboard.css" rel="stylesheet">
    <!--End of CSS-->

  </head>

   <body>
    
    <div class="header semidark-color">
      <img id="atx_logo" src="img/atxlogo_64.png" class="img-rounded" width="45">
      <a class="logo"><b>LINQ CLOUD</b></a>
      <a href="/signup" id="signup-button" class="btn btn-info btn-sm right-button"><b>Signup</b></a>
      <a href="/signin" id="signin-button" class="btn btn-success btn-sm"><b>Signin</b></a>
    </div>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/client.js"></script>

    <!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    <script type="text/javascript" src="js/jquery.backstretch.min.js"></script>
    <script>
        $.backstretch("img/gray-bk.jpg", {speed: 500});
    </script>

  </body>
</html>
